@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{padding: 0;margin: 0;box-sizing: border-box;font-family: 'Roboto Slab', serif;}
body{
    background-image: url("images2/background.jpg");
    height:100%;
    width:100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}
.menu a{
    text-decoration:dashed;
    color: black;
    padding: 10px 20px;
    font-size: 15px;
}
.menu a:first-child{
    background:white;
    color:black;
    border-radius:10px;
}
.menu a:hover{
    background: white;
    color:black;
    border-radius:10px;
}
.htext{
    position: absolute;
    top: 15%;
    left: 5%;
}
.htext h1{
    font-size: 1.5cm;
}
.htext h1 span{
    color:rebeccapurple;
}
.about_info h3{
    text-align: center;
}
.about_info{
    padding-top:550px;
    position: relative;
}
.about-container{
    text-decoration: underline;
    display: flex;
}
#skills_section{
    padding: 50px 0px;
}
.skills_info h3{
    text-align:center ;
}
.skills-container{
    display:flex;
    padding-left: 30%;
    height: 4cm;
    width: 5cm;
}
.skills-container img {
    width: 100px;
    height: auto;
    margin-right: 10px;
}  
#projects_section{
    padding:50px 0px;
}
.projects h3{
    text-align: center;
}
.projects-container {
    display: flex;
}
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.projects {
    flex: 1;
    margin-right: 10px;
}
.projects img {
    width: 200px;
    height: auto;
}
#contact_section{
    padding: 50px 0px;
    
}
.form-group {
    margin-bottom: 20px;
}  
label {
    display: block;
    font-weight: bold;
} 
input,textarea {
    width: 70%;
    padding: 8px;
    border: 1px solid white;
    border-radius: 4px;
}
button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
}
button:hover {
    background-color: green;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0;
    position: relative;
} 